@import "../styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-primary);
    @apply transition-colors duration-200 min-h-screen antialiased;
  }

  [dir="rtl"] {
    @apply font-cairo;
    line-height: 1.8;
  }
}

@layer utilities {
  .rtl-mirror {
    [dir="rtl"] & {
      @apply scale-x-[-1];
    }
  }
}
